@media (max-width: 1000px) {
  img#santelibre_vertical {
    display: none;
  }
}

@media (min-width: 999px) {
  img#santelibre_horizontal {
    display: none;
  }
}

blockquote {
  font: 14px/20px italic Times, serif;
  padding-left: 15px;
  padding-right: 10px;
  margin: 5px;
  background-image: url(/santelibre_website_data/static/src/img/chevron.png);
  background-position: middle left;
  background-size: 10px;
  background-repeat: no-repeat;
  text-align: justify;
}

.service_call_text_smaller {
  font-family: URWGeometric;
  font-weight: normal;
  font-style: normal;
  font-size: 16pt;
  color: white !important;
}

.santelibre_contact_us_text {
  font-family: URWGeometric;
  font-weight: normal;
  font-style: normal;
  font-size: 20pt;
  color: white !important;
}

.santelibre_contact_us_text_smaller {
  font-family: URWGeometric;
  font-weight: normal;
  font-style: normal;
  font-size: 16pt;
  color: white !important;
}

.santelibre_contact_us_emphasis {
  font-family: URWGeometric;
  font-weight: 900;
  font-style: bold;
  font-size: 28pt;
  color: white !important;
}

.santelibre_contact_us_title {
  font-family: URWGeometric;
  font-weight: 900;
  font-style: bold;
  font-size: 24pt;
  color: white !important;
}

.santelibre_about_us_section_title {
  caret-color: rgb(0, 0, 0);
  font-family: URWGeometric;
  font-size: 24px;
  font-weight: 900;
  font-style: bold;
  text-align: left;
  background-color: rgb(6, 6, 6);
  color: white;
}

.santelibre_about_us_section_text {
  caret-color: rgb(0, 0, 0);
  font-family: URWGeometric;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  background-color: rgb(6, 6, 6);
  color: white;
}

.nav-link {
  font-family: URWGeometric;
  font-style: normal;
  font-size: 20pt;

}

.santelibre_footer_title_underline {
  font-family: URWGeometric;
  font-weight: 900;
  display: inline-block;
  border-bottom: 1px solid #2CD5C4;
  padding-bottom: 2px;
  font-size: 20pt;

}

.santelibre_footer {
  font-family: URWGeometric;
  font-style: normal;
  font-weight: normal;
  font-size: 20pt;
}

.li_chevron {
  margin: 0;
  padding: 2px 0 0px 30px;
  list-style: none;
  background-image: url(/santelibre_website_data/static/src/img/chevron.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20px;
  font-family: URWGeometric;
  font-weight: 900;
  font-style: bold;
  font-size: 22pt;
  color: white;

}

.li_chevron_solution {
  font-family: URWGeometric;
  font-weight: normal;
  font-style: normal;
  font-size: 20pt;
  background-size: 15px;
  background-position: left 11px;
}

.li_chevron_champ {
  font-family: URWGeometric;
  font-weight: normal;
  font-style: normal;
  background-size: 15px;
  background-position: left 11px;
  margin-left: -35px;
}

.titre_solution {
  font-family: URWGeometric;
  font-weight: normal;
  font-style: normal;
  background-size: 15px;
  background-position: left 11px;
  margin-top: -8px;
  color: white;
}

.img_santelibre_home {
  max-width: 175px;
  max-height: 175px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.img_santelibre_home_solutions {
  max-width: 200px;
  max-height: 200px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.img_santelibre_home2 {
  max-width: 400px;
  max-height: 400px;
}

.santelibre_card_no_border {
  border: none;
}

.santelibre_no_padding {
  border: none;
  padding-bottom: 0px !important;
  margin-bottom: auto !important;
  padding-top: 0px !important;
  margin-top: auto !important;
}

.santelibre_underline {
  font-family: URWGeometric;
  font-weight: 900;
  display: inline-block;
  border-bottom: 1px solid #2CD5C4;
  padding-bottom: 2px;
  color: white;
}

.santelibre_underline_champ {
  font-family: URWGeometric;
  font-weight: 900;
  display: inline-block;
  padding-left: 35px;
  padding-bottom: 2px;
}

.top_santelibre_underline {
  font-family: URWGeometric;
  font-weight: 900;
  font-size: 42pt;
  display: inline-block;
  border-bottom: 1px solid #2CD5C4;
  padding-bottom: 2px;
}

.santelibre_titre_vert {
  font-family: URWGeometric;
  font-weight: 900;
  display: inline-block;
  font-size: 32pt;
  color: #2CD5C4;
}

h2, h3, h4, h5, h6 {
  font-family: URWGeometric;
  font-weight: 900;
  color: color('h2');
}

#wrapwrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  @if ($o-theme-layout == 'boxed') {
    @include media-breakpoint-up(md) {
      padding: 0 7.5%;
    }

    #wrap {
      background-color: $white;
    }
  }
}
